template(name="home")
  div(id="homepage" class="grey darken-3")
    if Template.subscriptionsReady
      if currentIssue
        a(href="{{currentIssuePath}}") Nyeste utgave
      else
        p Det finnes ingen utgivelser. Hvis du er administrator. logg inn for å lage en utgivelse.
        if isAdmin
          h1 Admin
          a(href="#" class="first-issue waves-effect waves-light btn") Lag første utgave
          //a(href="{{currentIssuePath}}") Nyeste utgave
