template(name="home")
  if currentIssue
    div(class="front-logo")
      | logo her
    h1 BILLYS BUMBLE AND BUMBLE
    h4 STYLING THE BUMBLE WAY
    
  else
    p Det finnes ingen utgivelser.
    button(class="first-issue") Lag første utgave
