template(name="home")
  +atForm
  if currentIssue
    +atForm
    div(class="front-logo")
      | logo her
    h1 BILLYS BUMBLE AND BUMBLE
    h4 STYLING THE BUMBLE WAY
    
  else
    p Det finnes ingen utgivelser.
    button(class="first-issue waves-effect waves-light btn") Lag første utgave
