// ****************** MAIN PLAYER LAYOUT TEMPLATE ******************
template(name="player")
  div(class="left")
    +Template.dynamic(template=videoArea)
    +Template.dynamic(template=toolbarArea)
    +Template.dynamic(template=chaptersArea)
  div(class="right")
    +Template.dynamic(template=videoNavArea)

// ****************** SUB TEMPLATES ******************
// PLAYER
template(name="html5Player")
  if Template.subscriptionsReady
    video(id="video" type="video/mp4" src="{{videoUrl}}" poster="{{posterImageUrl}}" controls crossOrigin="Anonymous" width="600")
  else Template.subscriptionsReady
    h1 loading ..
    
// VIDEO NAV
template(name="videoNav")
  div(id="video-actions")
    button(class="add-video") Legg til video
  div(id="video-nav")
    +each videos
      +videoNavItem

template(name="videoNavItem")
  div(class="video-select" id="{{_id}}")
    div(class='filename') {{fileName}}
    +if title
      div(class='title') {{title}}
    +else
      div(class='title') NO TITLE
    +if splashId
      div
        img(src="{{splashSmall}}" width="100px")
    +else
      div
        img(class="preview" src="images/no-video.jpg" width="100px")
  div(class="itemActions")
     button(class="remove-video") X

// CHAPTERS
template(name="chapters")
  div(id="chapters")
    +each chapters
      +chapter

template(name="chapter")
  span(class="chapter")
    +if url store="chapterImage"
      img(src="{{url store='chapterImage'}}")
    +else
      img(src="/uploading.png")
      unless isUploaded
        p(class="uploadProgress") uploading..{{uploadProgress}}%
      else
        p(class="uploadProgress") processing..
          
template(name="videoNotFound")
  if Template.subscriptionsReady
    h1 Video ikke funnet
    if videoId
      p Gå til
        a(href="videoplayer?videoId={{videoId}}") videoavspiller
    button Opprett video
