// TOLBAR
template(name="toolbar")
  div(class="toolbar")
    div
      +progressBar
    div
      +uploader
    div
      span(id="time")
      a(class="waves-effect waves-red btn issue-shot" href="#")
        i(class="medium material-icons left") view_stream
        |Utgavebilde
      a(class="waves-effect waves-red btn splash-shot" href="#")
        i(class="medium material-icons left") view_list
        |Videobilde      
      a(class="waves-effect waves-red btn snapshot" href="#")
        i(class="medium material-icons left") view_module
        |Kapitelbilde      

  
template(name="progressBar")
  div(class="progress")
    div(class="determinate" style="width: {{progress}}%")
    
//Note: The id matches that in uploader.js    
template(name="uploader")
  +unless showFileInput
    form(action="#")
      div(class="file-field input-field")
        a(class="btn" href="#")
          span File
          input(id="slingshot_upload" type="file" name="datafile" size="40")
        
  +if showUploadButton 
    a(class="waves-effect waves-red btn upload" href="#") Start opplasting
  +if showCancelButton
    a(class="waves-effect waves-red btn cancel" href="#") Avbryt opplasting
