.left{
    overflow:hidden;
    /*background:green;*/
    height:100%;
    width:80%;
    float:left;
}
.right{
    float:right;
    width:20%;
    height:100%;
    background:red;
}


html, body{
    height:100%;
}
