.left{
    overflow:hidden;
    /*background:green;*/
    height:100%;
    width:80%;
    float:left;
}
.right{
    float:right;
    width:20%;
    height:100%;
    //background:red;
}


html, body{
    height:100%;
}

.chapter {
  margin-right:10px;
}

.toolbar {
  margin:10px;
}

#video-actions {
  padding:20px;
}

.itemActions {
  padding: 10px;
  backgroud-color: gray;
}
